/* ===== Fuente estilo Minecraft ===== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, .container h3, .btn-success, .btn-secondary {
    font-family: 'Press Start 2P', monospace;
}

/* ===== Headers ===== */
.container h3 {
    font-weight: bold;
    color: #FFD700; /* dorado */
}

/* ===== Margenes ===== */
.mb-3 {
    margin-bottom: 1rem;
}

/* ===== Botones ===== */
.btn-success,
.btn-secondary {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #FFD700;
    background-color: #FFD700;
    color: #242424;
    border-radius: 0; /* blocky estilo Minecraft */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-success:hover,
.btn-secondary:hover {
    background-color: #FFC700;
    box-shadow: 0 0 8px #FFD700;
}
